<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.normurodov_nazar.savol_javob">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <queries>
        <package android:name="com.android.vending" />
        <package android:name="com.amazon.venezia" />
        <package android:name="com.sec.android.app.samsungapps" />
        <package android:name="com.huawei.appmarket" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme">
        <activity
            android:name=".Activities.AccountSettings"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.normurodov_nazar.savol_javob.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activities.ShowQuestion"
            android:exported="false" />
        <activity
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name=".Activities.AnswerToQuestion" />
        <activity android:name=".Activities.QuestionFilter" />
        <activity android:name=".Activities.SearchQuestions" />
        <activity android:name=".Activities.SelectTheme" />
        <activity android:name=".Activities.AccountInformation" />
        <activity
            android:name=".Activities.QuestionChat"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Activities.ShowAd" />
        <activity android:name=".Activities.NewQuestionActivity" />
        <activity
            android:name=".Activities.SingleChat"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.SearchUsers"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Activities.NewUser" />
        <activity
            android:name=".Activities.SmsCode"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".Activities.NotificationSettings" />

        <service
            android:name=".NotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Activities.Home"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".Activities.AuthUser"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5231072471693036~3276357889" />
    </application>

</manifest>